$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/* Space out content a bit */
body {
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

a{
  text-decoration: none;    
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}

.clear{
  clear: both;
}

.row-flex{
  @media screen and (min-width: 768px) {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
  }
}

.full-height{
  height: 100vh;
}

#wrapper{
  position: relative;
  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    background: #182855;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    .overlay-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%; /* 100% width */
    }
    a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block; /* Display block instead of inline */
      transition: 0.3s; /* Transition effects on hover (color) */
    }
    .log{
      display: inline-block;
      border-radius: 50px;
      background: #fff;
      padding: 10px 30px;
      color: #074086;
    }
    .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      color: #fff;
      font-size: 60px;
    }

  }
  .small{
    height: 100px !important;
    .header-left{
      img{
        height: 50px;
        transform: scale(0.7) !important;
      }
    }
  }
  #header{
    background: #074086;
    position: fixed;
    width: 100%;
    height: 130px;
    z-index: 9;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    @media screen and (max-width: 991px) {
      position: relative;
      height: auto;
    }
    .header-desktop{
      margin: 20px 0;
      .header-left{
        a{
          display: block;
          img{
            margin-top: 15px;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
            transform: scale(0.9);
          }
        }
      }
      .header-right{
        .log-user{
          display: inline-block;
          width: 100%;
          ul{
            padding: 0;
            margin: 0;
            float: right;
            background: #fff;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
            padding: 5px;
            li{
              float: left;
              list-style: none;
              padding: 0 10px;
              border-right: 2px solid #6FAED1; 
              &:last-child{
                border: none;
              }
              a{
                display: block;
                text-decoration: none;
                color: #074086;
                font-size: 12px;
              }
            }
          }
          .sosmed{
            float: right;
            margin-right: 10px;
            ul{
              background: transparent;
              li{
                border: none;
                a{
                  color: #fff;
                  &:hover{
                    color: #80c1e2;
                  }
                  i{
                    font-size: 20px;
                  }
                }
              }
            }
          }
        }
        .menus{
          display: inline-block;
          width: 100%;
          text-align: right;
          margin-top: 10px;
          ul{
            padding: 0;
            margin: 0;
            display: inline-block;
            li{
              list-style: none;
              float: left;
              margin-right: 50px;
              font-size: 18px;
              &:last-child{
                margin-right: 0;
              }
              a{
                text-decoration: none;
                color: #fff;
                &:hover{
                  color: #80c1e2;
                }
              }
              .active{
                color: #80c1e2;
              }
            }
          }
        }
      }
    }
    .header-mobile{
      .navbar-default{
        background: #074086;
        padding: 10px;
        .navbar-header{
          .logos{
            a{
              display: block;
              img{
                width: 120px;
              }
            }
          }
          .navbar-toggle{
            background: #fff;
          }
        }
        #navbar{
          ul{
            li{
              a{
                display: block;
                color: #fff;
                text-decoration: none;
              }
            }
          }
        }
      }
      
    }
  }

  .no-padding{
    padding: 10% 0 0 !important;
  }

  .quiz{
    background: #deeff4 url(../images/pattern_balloons.png) fixed !important;
    height: 100%;
  }
  .content-full-height{
    @media screen and (min-width: 1600px) {
      height: 1020px;
      padding: 10% 0 !important;
    }
  }
  #content{
    background: #deeff4 url(../images/taman.png) repeat-x bottom center;
    padding: 13% 0 40px;
    @media screen and (max-width: 991px) {
      padding: 20% 0 40px !important;
    }
   
    .quiz-page-wrapper{
      .quiz-page{
        background: rgba(7, 64, 134, 0.8);
        padding: 20px;
        .msf-header{
          margin-bottom: 0;
        }
        .msf-navigation{
          button{
            background: #fff;
          }
        }
        .msf-view{
          text-align: center;
          color: #fff;
          .question{
            text-align: center;
            font-size: 25px;
            line-height: normal;
            color: #fff;
            margin-bottom: 20px;
          }
        }
        .title{
          font-size: 40px;
          text-transform: uppercase;
          text-align: center;
          display: flex;
          color: #fff;
          font-weight: bolder;
          justify-content: center;
          align-items: center;
          padding: 0 50px;
          height: 200px;
          @media screen and (max-width: 991px) {
            font-size: 35px;
            padding:0;
            height: 100%;
          }
        }
        .start{
          text-align: center;
          margin: 20px 0 40px;
          .txt{
            color: #fff;
            margin-bottom: 20px;
          }
          a{
            display: inline-block;
            background: #fff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 50px;
            color: #074086;
            text-transform: capitalize;
            box-shadow: 0 2px 2px #000;
            font-weight: bold;
            &:hover{
              background: #074086;
              color: #fff;
            }
          }
        }
         .column-hadiah-wrapper{
          padding-bottom: 40px;
          .column-hadiah-col{
            @media screen and (max-width: 991px) {
              margin-bottom: 50px;
            }
            .column-blocks{
              display: block;
              color: #fff;
              font-size: 20px;
              box-shadow: 0px 10px 40px -10px #000;
              border-radius: 10px;
              .img{
                img{
                  object-fit: cover;
                  width: 100%;
                  height: 250px;
                  border-radius: 10px 10px 0px 0px;
                }
              }
              .bottom-area{
                padding: 20px;
                background: #0084ff;
                border-radius: 0px 0px 10px 10px;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-weight: bold;
                text-transform: capitalize;
                .pull-left{}
                .pull-right{
                  i{
                    font-size: 20px;
                  }
                }
              }
            }
          }
        } 
      }
    }
    .dashboard-wrapper{
      .column{
        background: rgba(7, 64, 134, 0.8);
        padding: 20px;
        color: #fff;
        .column-left{
          .menu-dashboar{
            ul{
              padding: 0;
              margin: 0;
              li{
                list-style: none;
                display: block;
                a{
                  color: #fff;
                  padding: 20px;
                  text-decoration: none;
                  display: block;
                  background: #0084ff;
                  border-bottom: 1px solid #fff;
                  opacity: 0.7;
                  &:hover{
                    opacity: 1;
                  }

                }
              .active{
                  opacity: 1;
                }
                &:last-child{
                  a{
                    border: none;
                  }
                }
              }
            }
          }
        }
        .column-right{
          .desc{
            margin-top: 20px;
          }
          .username{
            font-weight: bolder;
            font-size: 35px;
            margin-bottom: 20px;
            span{
              color: #80c1e2;
            }
          }
          .avatar{
            display: inline-block;
            width: 120px;
            height: 120px;
            border-radius: 100px;
            overflow: hidden;
            img{
              object-fit:cover;
              height: 120px;
            }
          }
          .score{
            font-size: 25px;
            font-weight: bold;
          }
        }        
      }      
    }
    .other-page-wrapper{
      .other-page{
        background: rgba(7, 64, 134, 0.8);
        padding: 20px;
        color: #fff;
        .title{
          text-align: center;
          font-size: 35px;
          font-weight: bolder;
          margin-bottom: 10px;
        }
        .table-wrapper{
          width: 700px;
          margin: auto;
          max-height: 300px;
          overflow: auto;
          outline: none;
          @media screen and (max-width: 991px) {
            width: auto;
          }
          .table-responsive{
            padding:20px 0;
            .jspVerticalBar{
              background: transparent;
              .jspTrack{
                background: transparent;
                .jspDrag{
                  background: #deeff4;
                }
              }
            }
          }
        }
      }
    }
    .product-wrapper{
      @media screen and (max-width: 991px) {
        padding: 20% 0;
      }
      .products-slide{
        .prev{
          position: absolute;
          left: 5%;
          top: 35%;
          z-index: 1;
          font-size: 40px;
          cursor: pointer;
          color: #fff;
        }
        .next{
          position: absolute;
          right: 5%;
          top: 35%;
          z-index: 1;
          font-size: 40px;
          cursor: pointer;
          color: #fff;
        }
        .slick-dots{
          padding: 0;
          margin: 20px 0 0;
          text-align: center;
          li{
            list-style: none;
            display: inline-block;
            width: 15px;
            height: 15px;
            text-indent: -9999px;
            background: #fff;
            border-radius:50%; 
            margin: 0 5px;
            cursor: pointer;
          }
          .slick-active{
            background: #074086;
          }
        }
        .products{
          outline: none;
          text-align: center;
          img{
            display: inline-block;
          }
          .see{
            text-align: center;
            margin-top: 10px;
            a{
              display: inline-block;
              background: #fff;
              text-decoration: none;
              padding: 10px 20px;
              border-radius: 50px;
              color: #074086;
              text-transform: capitalize;
              box-shadow: 0 2px 2px #000;
              font-weight: bold;
              &:hover{
                background: #074086;
                color: #fff;
              }
            }
          }
        }
      }
    }
    .detail-page-wrapper{
      .top{
        position: relative;
        .img{
          img{
            object-fit: cover;
            width: 100%;
            height: 400px;
          }
        }
        .title{
          position: absolute;
          top: 80%;
          left: 5%;
          font-size: 30px;
          color: #fff;
          font-weight: bold;
        }
        .map-responsive{
          overflow:hidden;
          padding-bottom:56.25%;
          position:relative;
          height:0;
          iframe{
            left:0;
            top:0;
            height:100%;
            width:100%;
            position:absolute;
          }
        }
      }
    }
    .column-detail{
      background: #fff;
      .column-left{
        padding: 30px 20px 60px;
        .name{
          text-align: center;
          font-weight: bold;
        }
        .share{
          margin-bottom: 20px;
          ul{
            padding: 0;
            margin: 0;
            li{
              float: left;
              font-size: 30px;
              list-style: none;
              margin-right: 20px;
              a{
                text-decoration: none;
                color: #074086;
                &:hover{
                  color: #deeff4;
                }
              }
            }
          }
        }
        .desc{
          img{
            object-fit: cover;
            height: 300px;
            width: 100%;
            margin: 20px 0;
          }
        }
      }
      .column-right{
        background: #deeff4;
        @media screen and (max-width: 991px) {
          padding: 20px;
        }
        .column-center{
          width: 50%;
          margin: auto;
          padding: 50px 0;
          @media screen and (max-width: 991px) {
            width: 100%;
          }
          .title{
            text-align: center;
            font-weight: bolder;
            font-size: 35px;
            margin-bottom: 20px;
          }
          .contactForm{
            button{
              text-transform: uppercase;
              width: 100%;
              height: 50px;
              border-radius: 25px;
              outline: none;
              font-weight: bold;
              background: #074086;
              border: none;
              &:hover{
                background: #fff;
                color: #074086;
              }
            }
            input{
              border: none;
              border-radius: 15px;
              padding: 20px;
            }
            textarea{
              border: none;
              border-radius: 15px;
              padding: 20px;
            }
          }
        }
        .back{
          text-align: left;
          a{
            display: inline-block;
            background: #fff;
            text-decoration: none;
            padding: 5px 20px;
            margin: 10px 0;
            border-radius: 25px;
            color: #074086;
            text-transform: capitalize;
            box-shadow: 0 2px 2px #000;
            font-weight: bold;
            &:hover{
              background: #074086;
              color: #fff;
            }
          }
        }
        .desc{
          .desc-porduct{
            border-bottom: 2px solid #074086;
            padding-bottom: 20px;
            padding-top: 10px;
            margin-bottom: 20px;
            &:last-child{
              border: none;
            }
            h4{
              font-weight: bolder;
              font-size: 35px;
            }
          }          
        }
        .article-blocks-col{
        margin: 40px 0;
        .article-blocks{
            @media screen and (max-width: 991px) {
              margin-bottom: 50px;
            }
            a{
              display: block;
              color: #fff;
              font-size: 20px;
              border-radius: 10px;
              &:hover{
                .bottom-area{
                  background: #074086;
                }
              }
              .img{
                img{
                  object-fit: cover;
                  width: 100%;
                  height: 250px;
                  border-radius: 10px 10px 0px 0px;
                }
              }
              .bottom-area{
                padding: 20px;
                height: 100px;
                overflow: hidden;
                background: #0084ff;
                border-radius: 0px 0px 10px 10px;
                .pull-left{
                  width: 90%;
                }
                .pull-right{
                  i{
                    font-size: 20px;
                  }
                }
              }
            }
          }
        } 
      }
    }
    .filter-wrapper{
      text-align: right;
      .navbar-form{
        input{
          width: 200px;
          transition: all 0.2s;
          border-radius: 50px;
          border: none;
          &:focus{
            width: 300px;
            @media screen and (max-width: 991px) {
              width: 100%;
            }
          }
        }
        button{
          background: transparent;
          border: none;
          box-shadow: none;
        }
      }
    }
    .slider-wrapper{
      // background: url(../images/pattern_balloons.png) fixed !important;
      position: relative;
      .parallax {
          position: absolute;
          width: 100%;
          height: 800px;
          overflow: hidden;
          left: 0;
          .baloon {
              position: absolute;
              width: 100%;
              height: 800px;
              left:0;
              background-repeat: no-repeat;
              background-position: top center;
          }
          .water-layer1 {
              background-image: url(../images/baloon1.png);
          }
          .water-layer2 {
              background-image: url(../images/baloon2.png);
          }
          .water-layer3 {
              background-image: url(../images/baloon3.png);
          }
      }
      .single-item{
        @media screen and (min-width: 1200px) {
          width: 960px;
          margin: 0 auto;          
        }
        .img{
          border: 10px solid #fff;
          border-radius: 5px;
          img{
            object-fit: cover;
            height: 544px;
            width: 100%;
          }
        }
        .prev{
          position: absolute;
          left: 5%;
          top: 50%;
          z-index: 1;
          font-size: 40px;
          cursor: pointer;
          color: #fff;
        }
        .next{
          position: absolute;
          right: 5%;
          top: 50%;
          z-index: 1;
          font-size: 40px;
          cursor: pointer;
          color: #fff;
        }
        .slick-dots{
          padding: 0;
          margin: 20px 0 0;
          text-align: center;
          li{
            list-style: none;
            display: inline-block;
            width: 15px;
            height: 15px;
            text-indent: -9999px;
            background: #fff;
            border-radius:50%; 
            margin: 0 5px;
            cursor: pointer;
          }
          .slick-active{
            background: #074086;
          }
        }
      }
    }
    .home-blocks-wrapper{
      padding: 40px 0 ;
      .home-blocks-col{
        .home-blocks{
          @media screen and (max-width: 991px) {
            margin-bottom: 50px;
          }
          a{
            display: block;
            color: #fff;
            font-size: 20px;
            box-shadow: 0px 10px 40px -10px #000;
            border-radius: 10px;
            &:hover{
              .bottom-area{
                background: #074086;
              }
            }
            .img{
              img{
                object-fit: cover;
                width: 100%;
                height: 250px;
                border-radius: 10px 10px 0px 0px;
              }
            }
            .bottom-area{
              padding: 20px;
              background: #0084ff;
              border-radius: 0px 0px 10px 10px;
              .pull-left{}
              .pull-right{
                i{
                  font-size: 20px;
                }
              }
            }
          }
        }
      } 
    }
    .article-blocks-wrapper{
      padding: 40px 0 ;
      .article-blocks-col{
        margin-bottom: 40px;
        .article-blocks{
          @media screen and (max-width: 991px) {
            margin-bottom: 50px;
          }
          a{
            display: block;
            color: #fff;
            font-size: 20px;
            box-shadow: 0px 10px 40px -10px #000;
            border-radius: 10px;
            &:hover{
              .bottom-area{
                background: #074086;
              }
            }
            .img{
              img{
                object-fit: cover;
                width: 100%;
                height: 250px;
                border-radius: 10px 10px 0px 0px;
              }
            }
            .bottom-area{
              padding: 20px;
              height: 100px;
              overflow: hidden;
              background: #0084ff;
              border-radius: 0px 0px 10px 10px;
              .pull-left{
                width: 94%;
                @media screen and (max-width: 991px) {
                  width: 90%;
                  line-height: normal;
                  font-size: 18px;
                }
              }
              .pull-right{
                i{
                  font-size: 20px;
                }
              }
            }
          }
        }
      } 
      .loadmore{
        text-align: center;
        a{
          display: inline-block;
          background: #fff;
          text-decoration: none;
          padding: 10px 20px;
          border-radius: 50px;
          color: #074086;
          text-transform: capitalize;
          box-shadow: 0 2px 2px #000;
          font-weight: bold;
          &:hover{
            background: #074086;
            color: #fff;
          }
        }
      }
    }
  }

  #footer{
    padding: 20px 0;
    background: #074086;
    .footer-column{
      @media screen and (max-width: 991px) {
        text-align: center;
      }
      .footer-col{
        @media screen and (max-width: 991px) {
          float: none !important;
          display: inline-block;
        }
        .footer-block{
          color: #fff;
          @media screen and (max-width: 991px) {
            font-size: 11px;
          }
          .footer-menu{
            ul{
              margin: 0;
              padding: 0;
              li{
                list-style: none;
                float: left;
                margin-right: 20px;
                @media screen and (max-width: 991px){
                  margin-right: 10px;
                }
                a{
                  text-decoration: none;
                  color: #fff;
                  &:hover{
                    color: #80c1e2;
                  }
                }
              }
            }
          }

        }
      }
    }
  }

  .abs-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
  }

}